<form id="login-form" method="post" action="#">
    <table border="0">
        <tr>
            <td colspan="2" align="left">
                <h2>Prijava korisnika</h2>
            </td>
        </tr>
        <tr>
            <td>Korisnicko ime</td>
            <td>
                <input type="text" name="Username"/>
            </td>
        </tr>
        <tr>
            <td>Lozinka</td>
            <td>
                <input type="password" name="Password" />
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input id="login-sub" type="submit" value="Uloguj se" />
            </td>
        </tr>
    </table>
</form>

<script>validateLogin();</script>